* {
  margin: 0;
  padding: 0;
}
/* trying to make all visited links do nothing maybe this will work??? */
*:visited{
  color: currentColor;
}
:root {
  --primary: rgb(248, 211, 0);
}
/* global */
html {
  font-size: 62.5%; /* 16px == 100% so (10/16) == 10px
                     now 1 rem=10px */
}
body {
  font-family: "Lato", sans-serif;
  background-color: black;
}
p {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
img.logo {
  height: 5rem;
}
/* utilities */
p.center-content {
  font-size: 2rem;
}
.center-content{
  text-align: center;
}
.hide {
  display: none;
}
/* figure out how to align login etc to the baseline of the white menu bar */
.menu-sub-button{
  color: white;
  background-color: black;
}
.menu-sub-button:hover{
  color: black;
  background-color: var(--primary);
}
.top-bar-options p{
  font-size: 1.4rem;
  letter-spacing: 3px;
  padding-top: 15px;
}
.top-bar-options{
  display: flex;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
}

nav.menu {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: white;
  height: 5rem;
}

/* header */

header.site-header {
  background-color: black;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  height: 80vh;
  margin: 5px;
}
.site-header .mobile-headline {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-top: 60px;
  padding-bottom: 20px;
}
.site-header-button a:visited {
  color: white;
  font-size: larger;
}
.site-header-button a:hover {
  background-color: var(--primary);
  color: black;
}
.yellow-tac {
  color: var(--primary);
  font-size: 10rem;
  justify-content: center;
  text-align: center;
}
.main-news-text h2:hover, h3:hover{
  text-decoration: underline;
}
.read-text{
  margin-top: 20px;
  margin-bottom: 5px;
}
.main-news-text .title{
  font-size: 3rem;
}
.main-news-text{
  margin-left: 2rem;
  padding-bottom: 2rem;
}
.main-news {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 45rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://i.natgeofe.com/n/b833c0ae-f906-44d2-acf7-a54758810daf/B6J39T.jpg?w=1024&h=1492);
  background-position: center;
  background-size: cover;
}
.main-story .read-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}
/* news articles after the first main one will be side by side unless screen is too small (not associated to 768px limit, instead used flex row wrap */
.second-news-section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 20px;
}
.secondary-news img{
  width: 600px;
}
.secondary-news{
  margin-top: 10px;
  margin-bottom: 10px;
}
.secondary-news-text {
  margin-top: -3px;
  width: 1;
  background-color: white;
  border: 1px solid black;
  text-align: left;
  padding: 1rem;
}

.secondary-news img:hover {
  border-bottom: 0.5rem solid var(--primary);
}

.secondary-news-text h2 {
  color: gray;
  text-transform: uppercase;
  letter-spacing: 2rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.secondary-news-text p {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


.secondary-news-text .read-text {
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.todays-picks{
  padding-top: 20px;
  text-transform: uppercase;
  font-style: bold;
  font-size: 3.5rem;
  padding-bottom: 20px;
  letter-spacing: 0.3rem;
}
.picks-element {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.picks-element img {
  width: 7rem;
  height: 7rem;
}
.picks-element p {
  color: white;
  font-weight: 700;
  margin-left: 2rem;
}
@media (min-width: 768px) {
  .main-news {
    width: 60rem;
  }
  .news {
    flex-basis: 70%;
  }
  .hide {
    display: flex;
  }
  .show{
    display: none;
  }
  /* .icons {
    flex-basis: 20%;
  } */
  .header-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .mobile-headline{
    display: none;
  }
  .second-news-section{
    width: 100%;
    flex-wrap: nowrap;
  }

}
